<div>
  <h3><%= @travel_journal.title%></h3>
  <h4>Start Date: <%= @travel_journal.start_date %></h4>
</div>
<div id="map-wrapper" data-locations="<%= @travel_journal.locations.to_json(only: [:lat, :lng, :address, :post]) %>">
  <div id="map-canvas"></div>
</div>

<a href="#" data-reveal-id="locationForm">Add a new location</a>

<div id="locationForm" class="reveal-modal" data-reveal>
  <%= simple_form_for [@travel_journal, @travel_journal.locations.build], remote: true  do |form| %>
    <%= form.input :address, placeholder: '48 Lower Mount Street Dublin 2, Ireland' %>
    <%= form.submit %>
  <% end %>
</div>