<div>
  <h3><%= @location.title || @location.address %></h3>
  <%= simple_form_for [@travel_journal, @location] do |form| %>
    <%= form.input :title %>
    <%= form.input :post %>
    <%= form.simple_fields_for :images do |image_fields| %>
      <% if image_fields.object.persisted? %>
        <%= image_tag(image_fields.object.picture.url(:thumb)) %>
      <% else %>
        <%= image_fields.input :picture, as: :file %>
      <% end %>
    <% end %>
    <%= form.submit %>
    <%= link_to "Back", @travel_journal %>
  <% end %>
</div>