<div>
  <h3><%= @location.title || @location.address %></h3>
  
  <%= nested_form_for [@travel_journal, @location] do |form| %>
    <%= form.text_field :title %>
    <%= form.text_area :post %>
    
    <%= form.fields_for :images, {}, { class: 'medium-3 columns' } do |image_fields| %>
      <% if image_fields.object.persisted? %>
        <%= image_tag(image_fields.object.picture.url(:thumb)) %>
      <% else %>
        <%= image_fields.file_field :picture %>
      <% end %><br/>
      <%= image_fields.link_to_remove "Remove this image" %>
    <% end %>
   

    <p> <%= form.link_to_add "Add an Image", :images %></p>


    <%= form.submit %>
    <%= link_to "Back", @travel_journal %>
  <% end %>
</div>